annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
certifi==2025.11.12
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1723018415758/work
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==3.1.2
contourpy==1.1.1
corner==2.2.1
cycler==0.12.1
Cython==3.2.1
dgl==1.1.2
dgllife==0.3.2
eval_type_backport==0.3.0
filelock==3.16.1
fonttools==4.57.0
future==1.0.0
-e git+https://github.com/mbsmbs/ift6760_a25_projectwork.git@5207866986992a824c1780518a55fb4e46b43a92#egg=gflownet
gitdb==4.0.12
GitPython==3.1.45
hydra-core==1.3.2
hyperopt==0.2.7
idna==3.11
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
lark-parser==0.12.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
networkx==3.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1687808433287/work
omegaconf==2.3.0
packaging==25.0
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.5
psutil==7.1.3
py4j==0.10.9.9
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
rdkit-pypi==2022.9.5
requests==2.32.4
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.44.0
six==1.17.0
smmap==5.0.2
sympy==1.13.3
threadpoolctl==3.5.0
torch==2.0.0
torchani==2.2.3
torchdata==0.8.0
torchtyping==0.1.5
tqdm==4.67.1
typeguard==2.13.3
typing_extensions==4.13.2
tzdata==2025.2
ultranest==4.4.0
urllib3==2.2.3
wandb==0.23.0
wurlitzer==3.1.1
zipp==3.20.2
